
@media only screen and (max-width: 768px) {
    .btn-container {
        text-align: center; 
    }

    .btn {
        width: 90%; 
    }
}

/* Resoluciones medianas (tablets grandes y laptops pequeños) */
@media only screen and (max-width: 992px) {
    .logo {
        margin: 0 auto;
    }

    .home {
        margin-top: 100px;
    }

    .contact .box-container {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }
}
